@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui" {
  themes: light --default;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #15A1BF !important;
  opacity: 1;
  width: 30px;
  border-radius: 999px;
}
